@{
    ViewBag.Title = "Home Page";
}

<main role="main" aria-label="">
    <div id="ibm-pcon">
        <div id="ibm-content">
            <div id="ibm-content-body" class="ibm-padding-top-0">
                <div id="ibm-content-main">
                    <!-- eTree :.: Main Content Grid :.: -->
                    <!-- eTree :.: Column 1-1 :.: E556018K55121Q24-->

                    <div class="ibm-band ibm-padding-top-0 ibm-padding-bottom-0 ibm-hidden-small ibm-hidden-medium ibm-hidden-large" style="background: url(https://www.ibm.com/images/portal/B957696V56594E20/vogue_without_text_bg.jpg) no-repeat 0% 50% / cover;min-height:200px !important;">
                        <div class="ibm-fluid ibm-alternateibm-alternate">
                            <div class="ibm-col-12-7  ibm-padding-top-r1 ibm-padding-bottom-r1 ibm-hidden-small ibm-hidden-medium ibm-hidden-large">
                            </div>
                            <div class="ibm-col-12-5 ibm-padding-top-r1 ibm-padding-bottom-r1">
                                <p class="ibm-h2 ibm-padding-top-0">PRESENTING THE <strong>INDIAN SAREE</strong>,<br class="ibm-hidden-small ibm-hidden-medium"> IN ITS MOST INTELLIGENT FORM YET.<br class="ibm-hidden-small ibm-hidden-medium"> DESIGNED BY <strong>GAURAV GUPTA</strong>，<br class="ibm-hidden-small ibm-hidden-medium"><strong>POWERED BY IBM WATSON</strong></p>


                                <img alt="VOGUE WOMEN OF THE YEAR 2017" src="https://www.ibm.com/images/portal/U925794W25879L24/vogue_text_200x180.png" class="ibm-downsize" style="margin-left:135px">

                                <p class="ibm-padding-top-0 ibm-btn-row ibm-button-link" style="margin-left:175px"><a class="ibm-btn-pri ibm-btn-orange-30" href="https://www-07.ibm.com/events/in-en/ibminvogue/index.html?lnk=inhpv18l1" target="_blank" style="color: white">KNOW MORE</a></p>
                                <p class="ibm-h3 ibm-padding-top-0 ibm-light" style="margin-left:320px">#IBMinVogue</p>
                            </div>
                        </div>
                    </div>



                    <div class="ibm-band ibm-padding-top-0 ibm-padding-bottom-0 ibm-hidden-medium ibm-hidden-large ibm-hidden-xlarge" style="background: url(https://www.ibm.com/images/portal/B957696V56594E20/vogue_without_text_bg.jpg) no-repeat 100% 50% / cover;min-height:200px !important;">
                        <div class="ibm-fluid ibm-alternateibm-alternate">

                            <div class="ibm-col-12-12 ibm-padding-top-r1 ibm-padding-bottom-r1">
                                <p class="ibm-h2 ibm-padding-top-0">PRESENTING THE <strong>INDIAN SAREE</strong>,<br class="ibm-hidden-small ibm-hidden-medium"> IN ITS MOST INTELLIGENT FORM YET.<br class="ibm-hidden-small ibm-hidden-medium"> DESIGNED BY <strong>GAURAV GUPTA</strong>，<br class="ibm-hidden-small ibm-hidden-medium"><strong>POWERED BY IBM WATSON</strong></p>


                                <img alt="VOGUE WOMEN OF THE YEAR 2017" src="https://www.ibm.com/images/portal/U925794W25879L24/vogue_text_200x180.png" class="ibm-downsize">

                                <p class="ibm-padding-top-0 ibm-btn-row ibm-button-link"><a class="ibm-btn-pri ibm-btn-orange-30" href="https://www-07.ibm.com/events/in-en/ibminvogue/index.html?lnk=inhpv18l1" target="_blank" style="color: white">KNOW MORE</a></p>
                                <p class="ibm-h3 ibm-padding-top-0 ibm-light">#IBMinVogue</p>
                            </div>
                        </div>
                    </div>
                    <div class="ibm-band ibm-padding-top-0 ibm-padding-bottom-0 ibm-hidden-small ibm-hidden-large ibm-hidden-xlarge" style="background: url(https://www.ibm.com/images/portal/B957696V56594E20/vogue_without_text_bg.jpg) no-repeat 100% 50% / cover;min-height:200px !important;">
                        <div class="ibm-fluid ibm-alternateibm-alternate">

                            <div class="ibm-col-12-3  ibm-padding-top-r1 ibm-padding-bottom-r1">
                            </div>
                            <div class="ibm-col-12-9 ibm-padding-top-r1 ibm-padding-bottom-r1">
                                <p class="ibm-h2 ibm-padding-top-0">PRESENTING THE <strong>INDIAN SAREE</strong>,<br class="ibm-hidden-small ibm-hidden-medium"> IN ITS MOST INTELLIGENT FORM YET.<br class="ibm-hidden-small ibm-hidden-medium"> DESIGNED BY <strong>GAURAV GUPTA</strong>，<br class="ibm-hidden-small ibm-hidden-medium"><strong>POWERED BY IBM WATSON</strong></p>


                                <img alt="VOGUE WOMEN OF THE YEAR 2017" src="https://www.ibm.com/images/portal/U925794W25879L24/vogue_text_200x180.png" class="ibm-downsize">

                                <p class="ibm-padding-top-0 ibm-btn-row ibm-button-link"><a class="ibm-btn-pri ibm-btn-orange-30" href="https://www-07.ibm.com/events/in-en/ibminvogue/index.html?lnk=inhpv18l1" target="_blank" style="color: white">KNOW MORE</a></p>
                                <p class="ibm-h3 ibm-padding-top-0 ibm-light">#IBMinVogue</p>
                            </div>

                        </div>
                    </div>

                    <div class="ibm-band ibm-padding-top-0 ibm-padding-bottom-0  ibm-hidden-small ibm-hidden-medium ibm-hidden-xlarge" style="background: url(https://www.ibm.com/images/portal/B957696V56594E20/vogue_without_text_bg.jpg) no-repeat 100% 50% / cover;min-height:200px !important;">
                        <div class="ibm-fluid ibm-alternateibm-alternate">
                            <div class="ibm-col-12-5  ibm-padding-top-r1 ibm-padding-bottom-r1">
                            </div>
                            <div class="ibm-col-12-7 ibm-padding-top-r1 ibm-padding-bottom-r1">
                                <p class="ibm-h2 ibm-padding-top-0">PRESENTING THE <strong>INDIAN SAREE</strong>,<br class="ibm-hidden-small ibm-hidden-medium"> IN ITS MOST INTELLIGENT FORM YET.<br class="ibm-hidden-small ibm-hidden-medium"> DESIGNED BY <strong>GAURAV GUPTA</strong>，<br class="ibm-hidden-small ibm-hidden-medium"><strong>POWERED BY IBM WATSON</strong></p>


                                <img alt="VOGUE WOMEN OF THE YEAR 2017" src="https://www.ibm.com/images/portal/U925794W25879L24/vogue_text_200x180.png" class="ibm-downsize">

                                <p class="ibm-padding-top-0 ibm-btn-row ibm-button-link"><a class="ibm-btn-pri ibm-btn-orange-30" href="https://www-07.ibm.com/events/in-en/ibminvogue/index.html?lnk=inhpv18l1" target="_blank" style="color: white">KNOW MORE</a></p>
                                <p class="ibm-h3 ibm-padding-top-0 ibm-light">#IBMinVogue</p>
                            </div>
                        </div>
                    </div>


                    <!-- eTree :.: /Column :.: -->
                    <!-- eTree :.: /Main Content Grid :.: -->
                    <!-- eTree :.: Main Content Grid :.: -->
                    <!-- eTree :.: Column 1-1 :.: E006424K52074U70-->

                    <div class="ibm-fluid ibm-seamless ibm-padding-top-0 ibm-padding-bottom-0 ibm_cci-seamless-no-padding" data-always="true" data-items=".ibm_cci-same-height" data-widget="setsameheight">
                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-same-height ibm-background-cool-white-20">
                            <div class="ibm-padding-content">
                                <h2 class="ibm-h2 ibm-light" id="ibm-section-h2">New at IBM</h2>
                            </div>
                        </div>

                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-featured-card ibm-background-cool-white-20" id="ibm_cci-feature-card-2">
                            <div class="ibm-card ibm-card--noborder ibm_cci-same-height">
                                <div class="ibm-card__image"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/" id="ibm-homepage-feature-card-2" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/', 'ibmEvLinkTitle' : 'blockchain c-suite', 'ibmEvGroup' : 'GBS', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F2', 'ibmEvTarget' : 'learn' });"><img alt="Get ready for Industry 4.0 with cognitive manufacturing" class="ibm-resize ibm_cci-feature-image" height="170" src="https://www.ibm.com/images/portal/S381588Q94114F85/transform-way-live.jpg" width="300"> </a></div>

                                <div class="ibm-card__content ibm-padding-bottom-2">
                                    <h3 class="ibm-h4 ibm_cci-feature-title"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/" id="ibm-homepage-feature-card-2" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/', 'ibmEvLinkTitle' : 'blockchain c-suite', 'ibmEvGroup' : 'GBS', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F2', 'ibmEvTarget' : 'learn' });">Get ready for Industry 4.0 with cognitive manufacturing</a></h3>

                                    <p class="ibm_cci-feature-abstract"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/" id="ibm-homepage-feature-card-2" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/', 'ibmEvLinkTitle' : 'blockchain c-suite', 'ibmEvGroup' : 'GBS', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F2', 'ibmEvTarget' : 'learn' });">Unite millions of data points across systems and processes for insights to thrive in the Industry 4.0 era</a></p>

                                    <p class="ibm-icon-nolink"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/" id="ibm-homepage-feature-card-2" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/internet-of-things/in-en/iot-solutions/iot-manufacturing/', 'ibmEvLinkTitle' : 'blockchain c-suite', 'ibmEvGroup' : 'GBS', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F2', 'ibmEvTarget' : 'learn' });"><span class="ibm-forward-link ibm-linkcolor-default ibm_cci-feature-cta">Learn More</span> </a></p>
                                </div>
                            </div>
                        </div>

                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-featured-card ibm-background-cool-white-40" id="ibm_cci-feature-card-1">
                            <div class="ibm-card ibm-card--noborder ibm_cci-same-height">
                                <div class="ibm-card__image"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in" id="ibm-homepage-feature-card-1" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in', 'ibmEvLinkTitle' : 'Watson Marketing Insights', 'ibmEvGroup' : 'Commerce', 'ibmEvName' : 'Announcement', 'ibmEvSection' : 'F1', 'ibmEvTarget' : 'learn' });"><img alt="9999/month" class="ibm-resize ibm_cci-feature-image" height="170" src="../cloud-computing/images/fs2_in-en09222017.png" width="300"> </a></div>

                                <div class="ibm-card__content ibm-padding-bottom-2">
                                    <h3 class="ibm-h4 ibm_cci-feature-title"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in" id="ibm-homepage-feature-card-1" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in', 'ibmEvLinkTitle' : 'Watson Marketing Insights', 'ibmEvGroup' : 'Commerce', 'ibmEvName' : 'Announcement', 'ibmEvSection' : 'F1', 'ibmEvTarget' : 'learn' });">Explore the Cloud platform that's designed for innovation. </a></h3>

                                    <p class="ibm_cci-feature-abstract"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in" id="ibm-homepage-feature-card-1" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in', 'ibmEvLinkTitle' : 'Watson Marketing Insights', 'ibmEvGroup' : 'Commerce', 'ibmEvName' : 'Announcement', 'ibmEvSection' : 'F1', 'ibmEvTarget' : 'learn' });">Access exclusive services at Rs. 9999 per month*.</a></p>

                                    <p class="ibm-icon-nolink"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in" id="ibm-homepage-feature-card-1" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/marketing/iwm/dre/signup?source=urx-19204&amp;S_PKG=ov52520&amp;lang=en_in', 'ibmEvLinkTitle' : 'Watson Marketing Insights', 'ibmEvGroup' : 'Commerce', 'ibmEvName' : 'Announcement', 'ibmEvSection' : 'F1', 'ibmEvTarget' : 'learn' });"><span class="ibm-forward-link ibm-linkcolor-default ibm_cci-feature-cta">Sign up for the offer, today!</span> </a></p>
                                    <p class="ibm-small">*valid for six month only.</p>
                                </div>
                            </div>
                        </div>

                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-featured-card ibm-background-cool-white-40" id="ibm_cci-feature-card-3">
                            <div class="ibm-card ibm-card--noborder ibm_cci-same-height">
                                <div class="ibm-card__image"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="information-technology.html" id="ibm-homepage-feature-card-3" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/in-en/information-technology', 'ibmEvLinkTitle' : 'SaaS Buyer's Guide', 'ibmEvGroup' : 'Internet of Things', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F3', 'ibmEvTarget' : 'learn' });"><img alt="Digital innovation: A road map for CIOs" class="ibm-resize ibm_cci-feature-image" height="170" src="https://www.ibm.com/images/portal/N137109G59643L75/digital-innovation-a-roadmap-for-cios-min.jpg" width="300"> </a></div>

                                <div class="ibm-card__content ibm-padding-bottom-2">
                                    <h3 class="ibm-h4 ibm_cci-feature-title"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="information-technology.html" id="ibm-homepage-feature-card-3" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/in-en/information-technology ', 'ibmEvLinkTitle' : 'SaaS Buyer's Guide', 'ibmEvGroup' : 'Internet of Things', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F3', 'ibmEvTarget' : 'learn' });">Digital innovation: A road map for CIOs</a></h3>

                                    <p class="ibm_cci-feature-abstract"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="information-technology.html" id="ibm-homepage-feature-card-3" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/in-en/information-technology', 'ibmEvLinkTitle' : 'SaaS Buyer's Guide', 'ibmEvGroup' : 'Internet of Things', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F3', 'ibmEvTarget' : 'learn' });">Learn What does it take for a CIO to lead business and digital innovation at their company?</a></p>

                                    <p class="ibm-icon-nolink"><a class="ibm-blocklink ibm_cci-no-border ibm_cci-feature-href" href="information-technology.html" id="ibm-homepage-feature-card-3" onclick="ibmStats.event({ 'ibmEV': 'USHP Interactions', 'ibmEvAction': 'https://www.ibm.com/in-en/information-technology', 'ibmEvLinkTitle' : 'SaaS Buyer's Guide', 'ibmEvGroup' : 'Internet of Things', 'ibmEvName' : 'Study/Report', 'ibmEvSection' : 'F3', 'ibmEvTarget' : 'learn' });"><span class="ibm-forward-link ibm-linkcolor-default ibm_cci-feature-cta">Learn More</span> </a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- eTree :.: /Column :.: -->
                    <!-- eTree :.: /Main Content Grid :.: -->
                    <!-- eTree :.: Main Content Grid :.: -->
                    <!-- eTree :.: Column 1-1 :.: E461992Q66990S51-->

                    <div class="ibm-fluid ibm-seamless ibm-alternate-background ibm-padding-top-0 ibm-padding-bottom-0 ibm_cci-seamless-no-padding" data-always="true" data-items=".ibm_cci-same-height" data-widget="setsameheight">

                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-same-height ibm-background-blue-70">

                            <div class="ibm-padding-content">

                                <h2 class="ibm-light ibm-h2">Explore free online product trials</h2>


                                <p class="ibm-button-link"><a class="ibm-btn-sec ibm-btn-white" href="marketplace16e7.html?link=ushpv18t4&amp;lnk2=trial_mktpl">See more products </a> <a class="ibm-btn-pri ibm-btn-white" href="marketplace/collections/offers-and-discounts/indexb57d.html?lnk=STW_IN_HPT_NAV_BTN=shop_mktpl_MPDISC">Shop for great deals </a></p>

                            </div>

                        </div>


                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-trials-card ibm-background-blue-80">

                            <div class="ibm-card ibm-card--noborder ibm_cci-same-height">

                                <div class="ibm-card__image"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/cloud-requirements-management/purchaseef5e.html?lnk=STW_IN_HPF_T1_BLK&amp;lnk2=discount_DOORSng#product-header-top"><img alt="IBM Rational DOORS Next Generation" class="ibm-resize" height="170" src="https://www.ibm.com/images/portal/O981848Y25105E11/content_hub_image0929_01.png" width="300"> </a></div>


                                <div class="ibm-card__content ibm-padding-bottom-2">

                                    <h3 class="ibm-h3"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/cloud-requirements-management/purchaseef5e.html?lnk=STW_IN_HPF_T1_BLK&amp;lnk2=discount_DOORSng#product-header-top">IBM Rational DOORS Next Generation</a></h3>


                                    <p>
                                        <a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/cloud-requirements-management/purchaseef5e.html?lnk=STW_IN_HPF_T1_BLK&amp;lnk2=discount_DOORSng#product-header-top">
                                            Simplify development with collaborative requirements management
                                        </a>
                                    </p>


                                    <p class="ibm-icon-nolink"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/cloud-requirements-management/purchaseef5e.html?lnk=STW_IN_HPF_T1_BLK&amp;lnk2=discount_DOORSng#product-header-top"><span class="ibm-forward-link ibm_cci-trai-cta">Buy now and Save 10%</span> </a></p>

                                </div>

                            </div>

                        </div>


                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-trials-card ibm-background-blue-80">

                            <div class="ibm-card ibm-card--noborder ibm_cci-same-height">

                                <div class="ibm-card__image"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/unified-endpoint-management2e04.html?lnk=STW_IN_HPF_T2_BLK&amp;lnk2=trial_MaaS360Wat"><img alt="IBM MaaS360 with Watson" class="ibm-resize" height="170" src="https://www.ibm.com/images/portal/B825687A35833F33/content_hub_image0929_02.png" width="300"> </a></div>


                                <div class="ibm-card__content ibm-padding-bottom-2">

                                    <h3 class="ibm-h3"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/unified-endpoint-management2e04.html?lnk=STW_IN_HPF_T2_BLK&amp;lnk2=trial_MaaS360Wat">IBM MaaS360 with Watson</a></h3>


                                    <p>
                                        <a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/unified-endpoint-management2e04.html?lnk=STW_IN_HPF_T2_BLK&amp;lnk2=trial_MaaS360Wat">
                                            Simplify the management and security of smartphones, tablets, laptops, wearables and IoT
                                        </a>
                                    </p>


                                    <p class="ibm-icon-nolink"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/unified-endpoint-management2e04.html?lnk=STW_IN_HPF_T2_BLK&amp;lnk2=trial_MaaS360Wat"><span class="ibm-forward-link ibm_cci-trai-cta">Start your free trial</span> </a></p>

                                </div>

                            </div>

                        </div>


                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-trials-card ibm-background-blue-80">

                            <div class="ibm-card ibm-card--noborder ibm_cci-same-height">

                                <div class="ibm-card__image"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/watson-analytics4224.html?lnk=STW_IN_HPF_T3_BLK&amp;lnk2=trial_WatAnlytcs"><img alt="IBM Watson Analytics" class="ibm-resize" height="170" src="https://www.ibm.com/images/portal/Z416897G35246T45/content_hub_image0929_03.png" width="300"> </a></div>


                                <div class="ibm-card__content ibm-padding-bottom-2">

                                    <h3 class="ibm-h3"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/watson-analytics4224.html?lnk=STW_IN_HPF_T3_BLK&amp;lnk2=trial_WatAnlytcs">IBM Watson Analytics</a></h3>


                                    <p><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/watson-analytics4224.html?lnk=STW_IN_HPF_T3_BLK&amp;lnk2=trial_WatAnlytcs">Get answers in minutes with smart data discovery and visualization. Start your free trial </a></p>


                                    <p class="ibm-icon-nolink"><a class="ibm-blocklink ibm_cci-no-border ibm-trials-cards" href="marketplace/watson-analytics4224.html?lnk=STW_IN_HPF_T3_BLK&amp;lnk2=trial_WatAnlytcs"><span class="ibm-forward-link ibm_cci-trai-cta">Start your free trial</span> </a></p>

                                </div>

                            </div>

                        </div>

                    </div>




                    <!-- eTree :.: /Column :.: -->
                    <!-- eTree :.: /Main Content Grid :.: -->
                    <!-- eTree :.: Main Content Grid :.: -->
                    <!-- eTree :.: Column 1-1 :.: B509566S01709R01-->

                    <div class="ibm-fluid ibm-seamless  ibm-padding-top-0 ibm-padding-bottom-0 ibm_cci-seamless-no-padding" data-widget="setsameheight" data-items=".ibm_cci-same-height" data-always="true">
                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm_cci-same-height ibm-background-cool-white-20">
                            <div class="ibm-padding-content">
                                <h2 class="ibm-h2 ibm-light ibm-textcolor-teal-50">Enter the cognitive era</h2>
                                <p class="ibm-h4 ibm-regular ibm-textcolor-teal-50">
                                    Find out what happens when digital intelligence
                                    <br class="ibm-br-large ibm-br-xlarge"> meets digital business
                                </p>
                                <p class="ibm-button-link"><a class="ibm-btn-pri ibm-btn-teal-50" href="https://www.ibm.com/cognitive/?lnk=mpr_buce_inen&amp;lnk2=learnquick">See more cognitive content (US)</a></p>
                            </div>
                        </div>
                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm-background-cool-white-40">
                            <a class="ibm-blocklink ibm_cci-no-border" href="https://www.youtube.com/playlist?list=PLCEWTHArjyqBkj4AXMwNFyI_tPHKI1bde">
                                <div class="ibm-card ibm-card--noborder ibm_cci-same-height">
                                    <div class="ibm-card__image"> <img class="ibm-resize" src="../cloud-computing/in/en/images/Wired__IBM_600x260.jpg" width="300" height="170" alt="Wired Magazine meets IBM Watson"> </div>
                                    <div class="ibm-card__content ibm-padding-bottom-2">
                                        <h3 class="ibm-h3">Wired Magazine meets IBM Watson</h3>
                                        <p>See how cognitive computing is impacting security, healthcare and finance</p>
                                        <p class="ibm-icon-nolink"> <span class="ibm-video-link ibm-linkcolor-default">Explore the content to learn more</span> </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm-background-cool-white-20" data-widget="tooltip" title="PDF, 1.8MB">
                            <a class="ibm-blocklink ibm_cci-no-border" href="https://www.ibm.com/marketing/iwm/dre/signup?source=mrs-form-9835&amp;S_PKG=ov54951&amp;disableCookie=Yes&amp;lang=en_in">
                                <div class="ibm-card ibm-card--noborder ibm_cci-same-height">
                                    <div class="ibm-card__image"> <img class="ibm-resize" src="../cloud-computing/za/en/images/cognitivebank_empowering_600x260.jpg" width="300" height="170" alt="The Cognitive Bank"> </div>
                                    <div class="ibm-card__content ibm-padding-bottom-2">
                                        <h3 class="ibm-h3">The Cognitive Bank</h3>
                                        <p>Cognitive computing empowers banks to orchestrate powerful ecosystems of partners to redefine the customer experience</p>
                                        <p class="ibm-icon-nolink"> <span class="ibm-forward-link ibm-linkcolor-default">Download the report</span> </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="ibm-col-12-3 ibm-col-medium-12-6 ibm-col-small-12-12 ibm-background-cool-white-40">
                            <a class="ibm-blocklink ibm_cci-no-border" href="https://www.ibm.com/marketplace/cloud/in/en-in">
                                <div class="ibm-card ibm-card--noborder ibm_cci-same-height">
                                    <div class="ibm-card__image"> <img class="ibm-resize" src="../us-en/images/homepage/cognitive-era/03072016_ce_cognitive-marketplace_14186_600x260.jpg" width="300" height="170" alt="Choose your path to cognitive"> </div>
                                    <div class="ibm-card__content ibm-padding-bottom-2">
                                        <h3 class="ibm-h3">Choose your path to cognitive</h3>
                                        <p>Explore solutions, create your own with IBM, or build an app with Watson APIs</p>
                                        <p class="ibm-icon-nolink"> <span class="ibm-forward-link ibm-linkcolor-default">Start your cognitive journey in the IBM Marketplace today</span> </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <!-- eTree :.: /Column :.: -->
                    <!-- eTree :.: /Main Content Grid :.: -->
                    <!-- eTree :.: Main Content Grid :.: -->
                    <div class="ibm-band ibm-background-blue-50 ibm-padding-top-1 ibm-padding-bottom-1 ibm-alternate-background">

                        <!-- eTree :.: Column 1-1 :.: W978368Q67649T17-->

                        <div class="ibm-fluid ibm-padding-bottom-0">
                            <div class="ibm-col-12-3">
                                <h2 class="ibm-h2 ibm-light ibm-padding-top-2 ibm-padding-bottom-2">
                                    How your business <br class="ibm-br-small ibm-br-large ibm-br-xlarge">
                                    can get smarter
                                </h2>
                            </div>

                            <div class="ibm-col-12-9">
                                <div class="ibm-fluid ibm-padding-bottom-0">
                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/analytics/in/en/?lnk=auhpv18c1&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-Analytics.png" width="40" height="40" alt="ibm analytics"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Analytics</h4>

                                            <p class="ibm-light ibm-small">Gain greater insights and innovate faster</p>
                                        </a>
                                    </div>

                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/cloud-computing/in/en?lnk=auhpv18c2&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-Cloud.png" width="40" height="40" alt="ibm cloud"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Cloud</h4>

                                            <p class="ibm-light ibm-small">Innovate with the cloud built for business</p>
                                        </a>
                                    </div>

                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/commerce/in-en/?lnk=auhpv18c3&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-Commerce.png" width="40" height="40" alt="ibm customer engagement"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Customer Engagement</h4>

                                            <p class="ibm-light ibm-small">Create customer relationships that last</p>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibm-fluid ibm-padding-bottom-0">
                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/it-infrastructure/in-en/?lnk=auhpv18c4&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-ITInfrastructure.png" width="40" height="40" alt="ibm IT infrastructure"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">IT Infrastructure</h4>

                                            <p class="ibm-light ibm-small">Build the foundation for cognitive business</p>
                                        </a>
                                    </div>

                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/financing/in-en/?lnk=auhpv18c5&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-Finance_icon.png" width="40" height="40" alt="ibm financing"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Financing</h4>

                                            <p class="ibm-light ibm-small">We finance possibilities</p>
                                        </a>
                                    </div>

                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/mobilefirst/in/en/?lnk=auhpv18c6&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-MobileFirst.png" width="40" height="40" alt="ibm mobile"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Mobile</h4>

                                            <p class="ibm-light ibm-small">Develop and deploy trusted mobile experiences</p>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibm-fluid ibm-padding-bottom-0">
                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/security/in/en/?lnk=auhpv18c7&amp;lnk2=learn" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-Security.png" width="40" height="40" alt="ibm security"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Security</h4>

                                            <p class="ibm-light ibm-small">Prevent, detect and respond to enterprise threats</p>
                                        </a>
                                    </div>




                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/services/in/en/it-services/gts-it-service-home-page-1.html" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="https://www.ibm.com/us-en/images/homepage/products/it-services.svg" width="40" height="40" alt="Services"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Services</h4>

                                            <p class="ibm-light ibm-small">Pioneering and Proven Partners for Progress </p>
                                        </a>
                                    </div>




                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/watson/" class="ibm-blocklink ibm_cci-border-decoration">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-Watson.png" width="40" height="40" alt="ibm watson"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">Watson (US)</h4>

                                            <p class="ibm-light ibm-small">Engage the power of cognitive computing</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- eTree :.: /Column :.: -->

                    </div>
                    <!-- eTree :.: /Main Content Grid :.: -->
                    <!-- eTree :.: Main Content Grid :.: -->
                    <div class="ibm-band ibm-background-gray-50 ibm-padding-top-1 ibm-padding-bottom-1 ibm-alternate-background">

                        <!-- eTree :.: Column 1-1 :.: T560938P07117C82-->

                        <div class="ibm-fluid">
                            <div class="ibm-col-12-3">
                                <h2 class="ibm-h2 ibm-light ibm-padding-top-2 ibm-padding-bottom-2">Need more help?</h2>
                            </div>

                            <div class="ibm-col-12-9">
                                <div class="ibm-fluid ibm-padding-bottom-0">
                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/support/entry/portal/support?lnk=inhpv18hcwh2" class="ibm_cci-border-decoration" id="ibm-hompage-help-support">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-support.png" width="40" height="40" alt="support portal"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element"> Support portal (US)</h4>

                                            <p class="ibm-light ibm-textcolor-white-core ibm-small">Get help today for the IBM services and software you own (US)</p>
                                        </a>
                                    </div>

                                    <div class="ibm-col-12-4">
                                        <a href="https://www.ibm.com/support/knowledgecenter/?lnk=inhpv18hcwh4" class="ibm_cci-border-decoration" id="ibm-hompage-help-knowledge">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-knowledge-center.png" width="40" height="40" alt="knowledgecenter"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">IBM Knowledge Center (US)</h4>

                                            <p class="ibm-light ibm-textcolor-white-core ibm-small">Find answers quickly in official IBM product documentation (US)</p>
                                        </a>
                                    </div>

                                    <div class="ibm-col-12-4">
                                        <a href="https://www.redbooks.ibm.com/?lnk=inhpv18hcwh1" class="ibm_cci-border-decoration" id="ibm-hompage-help-redbooks">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-red-books.png" width="40" height="40" alt="redbooks"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element"> Redbooks (US)</h4>

                                            <p class="ibm-light ibm-textcolor-white-core ibm-small">Complimentary, step-by-step guides for download and mobile (US)</p>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibm-fluid ibm-padding-bottom-0">
                                    <!-- <div class="ibm-col-12-4 ibm-col-medium-12-5"> <a href="https://www.ibm.com/developerworks/?lnk=inhpv18hcwh3" class="ibm_cci-border-decoration" id="ibm-hompage-help-developerworks">
                                       <p class="ibm-padding-bottom-0"><img src="/cloud-computing/au/en/anz-developer-works.png" width="40" height="40" alt="developerworks" /></p>

                                       <h4 class="ibm-h4 ibm-light ibm_cci-border-element">developerWorks (US)</h4>

                                       <p class="ibm-light ibm-textcolor-white-core ibm-small">Explore technical topics, find trial software and join the community (US)</p>
                                                </a> </div>-->

                                    <div class="ibm-col-12-4 ibm-col-medium-12-5">
                                        <a href="https://developer.ibm.com/in/" class="ibm_cci-border-decoration" id="ibm-hompage-help-developerworks">
                                            <p class="ibm-padding-bottom-0"><img src="../cloud-computing/au/en/anz-developer-works.png" width="40" height="40" alt="developerworks"></p>

                                            <h4 class="ibm-h4 ibm-light ibm_cci-border-element">developerWorks</h4>

                                            <p class="ibm-light ibm-textcolor-white-core ibm-small">Explore technical topics, find trial software and join the community </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- eTree :.: /Column :.: -->

                    </div>
                    <!-- eTree :.: /Main Content Grid :.: -->

                </div>
            </div>
        </div>
    </div>
</main>
<div id="ibm-related-content">
    <!-- RELATED_CONTENT_BEGIN -->


    <div id="ibm-merchandising-module">
        <!-- ibm-merchandising-module -->
    </div>

    <!-- RELATED_CONTENT_END -->
</div>
